

#configuration file
*/config.env
.*
!.gitignore

#cache files
*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/

#sqlite db file
/db.sqlite3

#media/files
/media/task-attachments/*
/media/users-photos/*
/media/project-attachments/
.env
dev.env
.idea
