SECRET_KEY=

DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASS=

EMAIL_HOST=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_PORT=
EMAIL_USE_TLS=
DEFAULT_FROM_EMAIL=


POSTGRES_PASSWORD=

PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=

# Do not make any changes to these variabales
POSTGRES_USER=postgres
POSTGRES_HOST_AUTH_METHOD=password
PGDATA=/var/lib/postgresql/data/pgdata

PGADMIN_DISABLE_POSTFIX=True
